body {
  background-color: ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #b22222;
  letter-spacing: 1px;
  margin: 0;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

.test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inc-exp-container {
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 3px 4px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 2px 2px 3px 4px #ccc; /* Firefox 3.5 - 3.6 */
  box-shadow: 2px 2px 3px 4px #ccc; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  padding: 20px;
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  margin: 20px 0;
}
